.wd-bg-color {
    background: rgb(20, 23, 26);
}

.wd-lights-out-text {
    color: rgb(245, 248, 250);
}

.list-group-item {
    background: rgb(20, 23, 26);
    border:none;
    color: rgb(245, 248, 250);
}

.list-group-item:hover, .list-group-item:focus, .list-group-item:active, list-group-item-action:active, #tuit{
    background: rgb(101, 119, 134);
    color: rgb(245, 248, 250);
    border-radius: 20px;
}

#search {
    padding-left: 32px;
    color: white;
    background-color: rgb(47, 51, 54);
    width: 90%;
}

#MAG-GLASS {
    left: 10px;
    top: 7px;
}

.wd-rounded-corners-all-around {
    border-radius: 50px;
}

.wd-linkset {
    font-size: 15px;
    padding: 16px 0px;
    margin: 0px 16px;
    color: rgb(110, 118, 125);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.wd-linkset:hover {
    color: rgb(29, 161, 242);
    border-bottom: 2px solid rgb(29, 161, 242);
}

.wd-linkset:focus {
    color: rgb(245, 248, 250);
    border-bottom: 2px solid rgb(29, 161, 242);
}